/**
 * Styles for the login modal container, input, form, and button.
 * The container is centered on the page with increased padding and width.
 * The input takes up the full width of the container.
 * The form is centered within the container.
 * The button has a primary color background and changes to a secondary color on hover.
 */

.modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.813rem;  /* Increased padding */
    margin: auto;
    top: 30%;
    background-color: #fff;
    width: 20rem;  /* Increased width */
    border-radius: 0.625rem;
    box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
    position: relative; 
}

.modal-input {
    width: 100%;
}

.modal-form {
    justify-content: center;
}

.modal-button {
    align-items: center;
    color: white;
    margin-top: 0.625rem;
    border-radius: 0.625rem;
    background-color: var(--primary-color);
    &:hover {
        background-color: var(--secondary-color);
    }
}