.navbar {
    background-color: #EBF5FB;
}

#logo {
    max-height: 60px;
    padding: 10px 0;
}

.LinkButton {
    text-decoration: none;

    :hover {
        color: #4B86B4;
    }
}

.LinkButton.active {
    color: #4B86B4;
}