.navbar {
    background-color: #EBF5FB;
    width: auto;
}

#logo {
    max-height: 40px;
    padding: 10px 0;
}

.LinkButton {
    text-decoration: none;
    color: #2A4D69;

}

.LinkButton :hover {
    color: #4B86B4;
}

.LinkButton.active {
    color: #4B86B4;
}