/**
 * Defines the styles for the navigation bar, including the background color and logo.
 * Also defines the styles for the link buttons, including their color and hover state.
 * The active link button has a different color to indicate the current page.
 *
 */
.navbar {
    background-color: #EBF5FB;
    position: static;
}

#logo {
    max-height: 0.625rem;
    padding: 0.625rem 0;
}

.LinkButton {
    text-decoration: none;
    color: #2A4D69;

}

.LinkButton :hover {
    color: #4B86B4;
}

.LinkButton.active {
    color: #4B86B4;
}